asciidoc @ file:///home/builder/.termux-build/asciidoc/src
bison==0.1.3
certifi==2025.4.26
charset-normalizer==3.4.1
icoextract==0.1.6
idna==3.10
lolcat==1.4
markdown-it-py==4.0.0
mdurl==0.1.2
meson==1.7.0
pefile==2024.8.26
pillow @ file:///home/builder/.termux-build/python-pillow/src
psutil==7.0.0
pycairo==1.28.0
pyfiglet==1.0.4
Pygments==2.19.2
PyGObject==3.52.3
python-nmap==0.7.1
python3-nmap==1.9.1
PyYAML==6.0.2
requests==2.32.3
rich==14.1.0
simple-term-menu==1.6.6
simplejson==3.20.2
urllib3==2.4.0
